body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

main {
    padding: 20px;
}

.banner {
    background: url('image.png') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
   
}

.banner h1 {
    font-size: 50px;
    margin: 0;
}

.banner p {
    font-size: 20px;
}

.carousel {
    margin-top: 20px;
}

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide img {
    width: 200px;
    margin-right: 10px;
}